* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  background: #eaeff5;
}

/* NAVBAR */
.navbar {
  background: #131921;
  color: white;
  padding: 12px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  color: #f08804;
  font-size: 28px;
  font-weight: bold;
}

.location {
  font-size: 13px;
  color: #ccc;
}

.search-bar {
  display: flex;
  width: 45%;
  background: white;
  border-radius: 6px;
  overflow: hidden;
}

.search-bar select {
  border: none;
  padding: 10px;
  background: #f3f3f3;
}

.search-bar input {
  flex: 1;
  border: none;
  padding: 10px;
}

.search-bar button {
  background: #febd69;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-item {
  font-size: 13px;
  cursor: pointer;
}

.cart {
  font-size: 18px;
  cursor: pointer;
}

#cart-count {
  background: #f08804;
  color: black;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 12px;
}

/* BANNER */
.banner {
  background: #232f3e;
  color: white;
  text-align: center;
  padding: 30px;
}

/* PRODUCTS */
.products {
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.product-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.price {
  color: #b12704;
  font-size: 18px;
  margin: 10px 0;
}

.product-card button {
  background: #f0c14b;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  border-radius: 6px;
}

/* PAYMENT */
.payment {
  background: white;
  margin: 40px;
  padding: 30px;
  border-radius: 12px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  border-bottom: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

.grand-total {
  margin-top: 20px;
  text-align: right;
}

.checkout-btn {
  margin-top: 10px;
  padding: 12px 20px;
  background: #f08804;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
}

